server:  
  port: ${PORT:2222}

spring:  
  application:
    name: graphite-service
  datasource:
    url: jdbc:mysql://192.168.99.100:33306/datagrid?useSSL=false
    username: datagrid
    password: datagrid
    driver-class-name: com.mysql.jdbc.Driver
    name: example
    maxActive: 10
  metrics:
    export:
      delay-millis: 5000
      includes: heap.used,heap.committed,mem,mem.free,threads,datasource.primary.active,datasource.primary.usage,gauge.response.persons,gauge.response.persons.id,gauge.response.persons.remove

logging:
  level:
    org.influxdb: DEBUG
    
management:
  security:
    enabled: false   